USE [master]
GO
/****** Object:  Database [DB_SPA]    Script Date: 12/10/2019 10:27:39 ******/
CREATE DATABASE [DB_SPA]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DB_SPA', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\DB_SPA.mdf' , SIZE = 4096KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'DB_SPA_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\DB_SPA_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DB_SPA].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DB_SPA]
GO
/****** Object:  Table [dbo].[ACCOUNT]    Script Date: 12/10/2019 10:27:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ACCOUNT](
	[ID_USER] [int] NOT NULL,
	[USERNAME] [varchar](50) NULL,
	[PASSWORD] [varchar](50) NULL,
	[STATUS] [int] NULL,
 CONSTRAINT [PK_ACCOUNT] PRIMARY KEY CLUSTERED 
(
	[ID_USER] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[BOOKING]    Script Date: 12/10/2019 10:27:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BOOKING](
	[ID_BOOKING] [int] NOT NULL,
	[ID_RECEIPT_SERVICE] [int] NULL,
	[ID_USER] [int] NULL,
	[ID_USER_CUS] [int] NULL,
	[ID_TIME_WORKER] [int] NULL,
	[BOOK_DATE] [datetime] NULL,
	[STATUS] [int] NULL,
 CONSTRAINT [PK_BOOKING] PRIMARY KEY CLUSTERED 
(
	[ID_BOOKING] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[BRANCH]    Script Date: 12/10/2019 10:27:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[BRANCH](
	[ID_BRANCH] [int] NOT NULL,
	[NAME_BRANCH] [nvarchar](500) NULL,
	[ADDRESS] [nvarchar](250) NULL,
	[CREATE_AT] [datetime] NULL,
	[PHONE] [char](10) NULL,
	[STATUS] [int] NULL,
 CONSTRAINT [PK_BRANCH] PRIMARY KEY CLUSTERED 
(
	[ID_BRANCH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CHAIR]    Script Date: 12/10/2019 10:27:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHAIR](
	[ID_CHAIR] [int] NOT NULL,
	[ID_FLOOR] [int] NULL,
	[NAME] [nvarchar](250) NULL,
	[STATUS] [int] NULL,
 CONSTRAINT [PK_CHAIR] PRIMARY KEY CLUSTERED 
(
	[ID_CHAIR] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CONVERT]    Script Date: 12/10/2019 10:27:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CONVERT](
	[ID_CONVERT] [int] NOT NULL,
	[NAME_UNIT_BEFORE] [nvarchar](50) NULL,
	[NUMBER_BEFORE] [float] NULL,
	[NAME_UNIT_AFTER] [nvarchar](50) NULL,
	[NUMBER_AFTER] [float] NULL,
	[STATUS] [int] NULL,
 CONSTRAINT [PK_CONVERT] PRIMARY KEY CLUSTERED 
(
	[ID_CONVERT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DETAIL_INGEDIENT]    Script Date: 12/10/2019 10:27:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DETAIL_INGEDIENT](
	[ID_DETAIL_INGREDIENT] [int] NOT NULL,
	[ID_INGREDIENT] [int] NULL,
	[ID_ITEM] [int] NULL,
	[NUMBER] [int] NULL,
	[UNIT_INGRE] [varchar](50) NULL,
	[STATUS] [int] NULL,
 CONSTRAINT [PK_DETAIL_INGEDIENT] PRIMARY KEY CLUSTERED 
(
	[ID_DETAIL_INGREDIENT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[DETAIL_RECEIPT]    Script Date: 12/10/2019 10:27:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DETAIL_RECEIPT](
	[ID_DETAIL_RECEIPT] [int] NOT NULL,
	[ID_RECEIPT] [int] NULL,
	[ID_ITEM] [int] NULL,
	[NUMBER] [int] NULL,
	[STATUS] [int] NULL,
 CONSTRAINT [PK_DETAIL_RECEIPT] PRIMARY KEY CLUSTERED 
(
	[ID_DETAIL_RECEIPT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DETAIL_RECEIPT_IMPORT]    Script Date: 12/10/2019 10:27:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DETAIL_RECEIPT_IMPORT](
	[ID_DETAIL_RECEIPT_IMPORT] [int] NOT NULL,
	[ID_RECEPT_IMPORT] [int] NULL,
	[ID_ITEM] [int] NULL,
	[NUMBER] [int] NULL,
	[STATUS] [int] NULL,
 CONSTRAINT [PK_DETAIL_RECEIPT_IMPORT] PRIMARY KEY CLUSTERED 
(
	[ID_DETAIL_RECEIPT_IMPORT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DETAIL_RECEIPT_SERVICE]    Script Date: 12/10/2019 10:27:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DETAIL_RECEIPT_SERVICE](
	[ID_DETAIL_RECEIPT_SERVICE] [int] NOT NULL,
	[ID_SERVICE] [int] NULL,
	[ID_USER] [int] NULL,
	[ID_RECEIPT_SERVICE] [int] NULL,
	[CREATE_AT] [datetime] NULL,
	[STATUS] [int] NULL,
 CONSTRAINT [PK_DETAIL_RECEIPT_SERVICE] PRIMARY KEY CLUSTERED 
(
	[ID_DETAIL_RECEIPT_SERVICE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[FLOOR]    Script Date: 12/10/2019 10:27:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FLOOR](
	[ID_FLOOR] [int] NOT NULL,
	[ID_BRANCH] [int] NULL,
	[NAME] [nvarchar](250) NULL,
	[STATUS] [int] NULL,
 CONSTRAINT [PK_FLOOR] PRIMARY KEY CLUSTERED 
(
	[ID_FLOOR] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[GRANT_RIGHT]    Script Date: 12/10/2019 10:27:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[GRANT_RIGHT](
	[ID_GROUP] [int] NOT NULL,
	[ID_SCREEN] [varchar](5) NOT NULL,
	[ROLE] [bit] NULL,
 CONSTRAINT [PK_GRANT_RIGHT] PRIMARY KEY CLUSTERED 
(
	[ID_GROUP] ASC,
	[ID_SCREEN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[GROUP_USER]    Script Date: 12/10/2019 10:27:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GROUP_USER](
	[ID_GROUP] [int] NOT NULL,
	[NAME_GROUP] [nvarchar](50) NULL,
	[STATUS] [int] NULL,
 CONSTRAINT [PK_GROUP_USER] PRIMARY KEY CLUSTERED 
(
	[ID_GROUP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[INGREDIENT]    Script Date: 12/10/2019 10:27:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[INGREDIENT](
	[ID_INGREDIENT] [int] NOT NULL,
	[CREATE_AT] [datetime] NULL,
	[STATUS] [int] NULL,
 CONSTRAINT [PK_INGREDIENT] PRIMARY KEY CLUSTERED 
(
	[ID_INGREDIENT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ITEM]    Script Date: 12/10/2019 10:27:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ITEM](
	[ID_ITEM] [int] NOT NULL,
	[ID_PRODUCER] [int] NULL,
	[ID_PRICE] [int] NULL,
	[ID_TYPE] [int] NULL,
	[NAME_ITEM] [nvarchar](250) NULL,
	[UNIT] [nvarchar](50) NULL,
	[DEADLINE] [datetime] NULL,
	[DETAIL] [text] NULL,
	[STATUS] [int] NULL,
 CONSTRAINT [PK_ITEM] PRIMARY KEY CLUSTERED 
(
	[ID_ITEM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PRICE]    Script Date: 12/10/2019 10:27:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PRICE](
	[ID_PRICE] [int] NOT NULL,
	[PRICE] [float] NULL,
	[TYPE] [nvarchar](10) NULL,
	[CREATE_AT] [datetime] NULL,
	[STATUS] [int] NULL,
 CONSTRAINT [PK_PRICE] PRIMARY KEY CLUSTERED 
(
	[ID_PRICE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PRICE_SERVICE]    Script Date: 12/10/2019 10:27:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PRICE_SERVICE](
	[ID_PRICE_SERVICE] [int] NOT NULL,
	[PRICE] [float] NULL,
	[CREATE_AT] [datetime] NULL,
	[STATUS] [int] NULL,
 CONSTRAINT [PK_PRICE_SERVICE] PRIMARY KEY CLUSTERED 
(
	[ID_PRICE_SERVICE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PRODUCER]    Script Date: 12/10/2019 10:27:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PRODUCER](
	[ID_PRODUCER] [int] NOT NULL,
	[CODE_PRODUCER] [varchar](50) NULL,
	[NAME_PRODUCER] [nvarchar](100) NULL,
	[ADDRESS] [nvarchar](250) NULL,
	[PHONE] [char](10) NULL,
	[EMAIL] [nvarchar](50) NULL,
	[WEBSITE] [nvarchar](500) NULL,
	[STATUS] [int] NULL,
 CONSTRAINT [PK_PRODUCER] PRIMARY KEY CLUSTERED 
(
	[ID_PRODUCER] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PROFILE]    Script Date: 12/10/2019 10:27:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PROFILE](
	[ID_PROFILE] [int] NOT NULL,
	[ID_USER] [int] NULL,
	[IDENFITICATION] [varchar](12) NULL,
	[LAST_NAME] [nvarchar](50) NULL,
	[FIRST_NAME] [nvarchar](50) NULL,
	[SEX] [nvarchar](5) NULL,
	[PHONE] [char](10) NULL,
	[ADDRESS] [nvarchar](250) NULL,
	[STATUS] [int] NULL,
 CONSTRAINT [PK_PROFILE] PRIMARY KEY CLUSTERED 
(
	[ID_PROFILE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PROFILE_CUSTOMER]    Script Date: 12/10/2019 10:27:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PROFILE_CUSTOMER](
	[ID_PROFILE_CUSTOMER] [int] NOT NULL,
	[ID_PROFILE] [int] NULL,
	[ID_TYPE_CUS] [int] NULL,
	[SCORE] [int] NULL,
 CONSTRAINT [PK_PROFILE_CUSTOMER] PRIMARY KEY CLUSTERED 
(
	[ID_PROFILE_CUSTOMER] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PROFILE_STAFF]    Script Date: 12/10/2019 10:27:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PROFILE_STAFF](
	[ID_PROFILE_STAFF] [int] NOT NULL,
	[ID_PROFILE] [int] NULL,
	[POSITION] [varchar](50) NULL,
 CONSTRAINT [PK_PROFILE_STAFF] PRIMARY KEY CLUSTERED 
(
	[ID_PROFILE_STAFF] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[RECEIPT]    Script Date: 12/10/2019 10:27:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[RECEIPT](
	[ID_RECEIPT] [int] NOT NULL,
	[ID_USER] [int] NULL,
	[ID_USER_CUS] [int] NULL,
	[CODE_RECEIPT] [varchar](50) NULL,
	[CREATE_AT] [datetime] NULL,
	[SUM_MONEY] [float] NULL,
	[STATUS] [int] NULL,
 CONSTRAINT [PK_RECEIPT] PRIMARY KEY CLUSTERED 
(
	[ID_RECEIPT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[RECEIPT_IMPORT]    Script Date: 12/10/2019 10:27:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[RECEIPT_IMPORT](
	[ID_RECEPT_IMPORT] [int] NOT NULL,
	[ID_USER] [int] NULL,
	[ID_SUPPIER] [int] NULL,
	[CODE_IMPORT] [varchar](50) NULL,
	[CREATE_AT] [datetime] NULL,
	[SUM_MONEY] [float] NULL,
	[STATUS] [int] NULL,
 CONSTRAINT [PK_RECEIPT_IMPORT] PRIMARY KEY CLUSTERED 
(
	[ID_RECEPT_IMPORT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[RECEIPT_SERVICE]    Script Date: 12/10/2019 10:27:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RECEIPT_SERVICE](
	[ID_RECEIPT_SERVICE] [int] NOT NULL,
	[ID_USER] [int] NULL,
	[ID_CHAIR] [int] NULL,
	[ID_USER_CUS] [int] NULL,
	[CREATE_AT] [datetime] NULL,
	[SUM_MONEY] [float] NULL,
	[STATUS] [int] NULL,
 CONSTRAINT [PK_RECEIPT_SERVICE] PRIMARY KEY CLUSTERED 
(
	[ID_RECEIPT_SERVICE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SCREEN]    Script Date: 12/10/2019 10:27:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SCREEN](
	[ID_SCREEN] [varchar](5) NOT NULL,
	[NAME_SCREEN] [nvarchar](50) NULL,
	[STATUS] [int] NULL,
 CONSTRAINT [PK_SCREEN] PRIMARY KEY CLUSTERED 
(
	[ID_SCREEN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[SERVICE]    Script Date: 12/10/2019 10:27:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SERVICE](
	[ID_SERVICE] [int] NOT NULL,
	[ID_INGREDIENT] [int] NULL,
	[ID_PRICE_SERVICE] [int] NULL,
	[NAME] [nvarchar](250) NULL,
	[DETAIL] [text] NULL,
	[STATUS] [int] NULL,
 CONSTRAINT [PK_SERVICE] PRIMARY KEY CLUSTERED 
(
	[ID_SERVICE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SUPPLIER]    Script Date: 12/10/2019 10:27:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SUPPLIER](
	[ID_SUPPIER] [int] NOT NULL,
	[NAME_SUPPLIER] [nvarchar](250) NULL,
	[ADDRESS] [nvarchar](250) NULL,
	[PHONE] [char](10) NULL,
	[EMAIL] [nvarchar](50) NULL,
	[STATUS] [int] NULL,
 CONSTRAINT [PK_SUPPLIER] PRIMARY KEY CLUSTERED 
(
	[ID_SUPPIER] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TIME_WORKER]    Script Date: 12/10/2019 10:27:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TIME_WORKER](
	[ID_TIME_WORKER] [int] NOT NULL,
	[SHIFT] [int] NULL,
	[TIME] [datetime] NULL,
	[STATUS] [int] NULL,
 CONSTRAINT [PK_TIME_WORKER] PRIMARY KEY CLUSTERED 
(
	[ID_TIME_WORKER] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TIMEKEEPING]    Script Date: 12/10/2019 10:27:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TIMEKEEPING](
	[ID_TIME] [int] NOT NULL,
	[ID_USER] [int] NULL,
	[DATE] [datetime] NULL,
	[SHIFT] [int] NULL,
	[STATUS] [int] NULL,
 CONSTRAINT [PK_TIMEKEEPING] PRIMARY KEY CLUSTERED 
(
	[ID_TIME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TYPE_CUSTOMER]    Script Date: 12/10/2019 10:27:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TYPE_CUSTOMER](
	[ID_TYPE_CUS] [int] NOT NULL,
	[NAME_TYPE] [nvarchar](50) NULL,
	[STATUS] [int] NULL,
 CONSTRAINT [PK_TYPE_CUSTOMER] PRIMARY KEY CLUSTERED 
(
	[ID_TYPE_CUS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TYPE_ITEM]    Script Date: 12/10/2019 10:27:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TYPE_ITEM](
	[ID_TYPE] [int] NOT NULL,
	[NAME_TYPE] [nvarchar](50) NULL,
	[STATUS] [int] NULL,
 CONSTRAINT [PK_TYPE_ITEM] PRIMARY KEY CLUSTERED 
(
	[ID_TYPE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[USER_GROUP_USER]    Script Date: 12/10/2019 10:27:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USER_GROUP_USER](
	[ID_USER] [int] NOT NULL,
	[ID_GROUP] [int] NOT NULL,
	[STATUS] [int] NULL,
 CONSTRAINT [PK_USER_GROUP_USER] PRIMARY KEY CLUSTERED 
(
	[ID_USER] ASC,
	[ID_GROUP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
INSERT [dbo].[ACCOUNT] ([ID_USER], [USERNAME], [PASSWORD], [STATUS]) VALUES (1, N'admin', N'202cb962ac5975b964b7152d234b70', 1)
INSERT [dbo].[ACCOUNT] ([ID_USER], [USERNAME], [PASSWORD], [STATUS]) VALUES (2, N'1289469182', N'202cb962ac5975b964b7152d234b70', 0)
INSERT [dbo].[ACCOUNT] ([ID_USER], [USERNAME], [PASSWORD], [STATUS]) VALUES (3, N'user', N'202cb962ac5975b964b7152d234b70', 1)
INSERT [dbo].[GRANT_RIGHT] ([ID_GROUP], [ID_SCREEN], [ROLE]) VALUES (1, N'T111', 0)
INSERT [dbo].[GRANT_RIGHT] ([ID_GROUP], [ID_SCREEN], [ROLE]) VALUES (1, N'T112', 0)
INSERT [dbo].[GRANT_RIGHT] ([ID_GROUP], [ID_SCREEN], [ROLE]) VALUES (1, N'T113', 0)
INSERT [dbo].[GROUP_USER] ([ID_GROUP], [NAME_GROUP], [STATUS]) VALUES (1, N'Bán Hàng', 1)
INSERT [dbo].[GROUP_USER] ([ID_GROUP], [NAME_GROUP], [STATUS]) VALUES (2, N'Phục Vụ', 1)
INSERT [dbo].[GROUP_USER] ([ID_GROUP], [NAME_GROUP], [STATUS]) VALUES (3, N'Quản Lý', 1)
INSERT [dbo].[PROFILE] ([ID_PROFILE], [ID_USER], [IDENFITICATION], [LAST_NAME], [FIRST_NAME], [SEX], [PHONE], [ADDRESS], [STATUS]) VALUES (1, 2, N'123', N'Trần Văn', N'A', N'Nam', N'1289469182', N'Hồ Chí Minh', 1)
INSERT [dbo].[PROFILE_CUSTOMER] ([ID_PROFILE_CUSTOMER], [ID_PROFILE], [ID_TYPE_CUS], [SCORE]) VALUES (1, 1, 1, 0)
INSERT [dbo].[SCREEN] ([ID_SCREEN], [NAME_SCREEN], [STATUS]) VALUES (N'T111', N'Tạo mới CSDL', 1)
INSERT [dbo].[SCREEN] ([ID_SCREEN], [NAME_SCREEN], [STATUS]) VALUES (N'T112', N'Sao lưu CSDL', 1)
INSERT [dbo].[SCREEN] ([ID_SCREEN], [NAME_SCREEN], [STATUS]) VALUES (N'T113', N'Phục hồi CSDL', 1)
INSERT [dbo].[TYPE_CUSTOMER] ([ID_TYPE_CUS], [NAME_TYPE], [STATUS]) VALUES (1, N'VIP', 0)
INSERT [dbo].[TYPE_CUSTOMER] ([ID_TYPE_CUS], [NAME_TYPE], [STATUS]) VALUES (2, N'Thân Thiết', 0)
INSERT [dbo].[USER_GROUP_USER] ([ID_USER], [ID_GROUP], [STATUS]) VALUES (1, 1, 1)
INSERT [dbo].[USER_GROUP_USER] ([ID_USER], [ID_GROUP], [STATUS]) VALUES (1, 3, 1)
/****** Object:  Index [RELATIONSHIP_29_FK]    Script Date: 12/10/2019 10:27:39 ******/
CREATE NONCLUSTERED INDEX [RELATIONSHIP_29_FK] ON [dbo].[BOOKING]
(
	[ID_USER] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [RELATIONSHIP_30_FK]    Script Date: 12/10/2019 10:27:39 ******/
CREATE NONCLUSTERED INDEX [RELATIONSHIP_30_FK] ON [dbo].[BOOKING]
(
	[ID_TIME_WORKER] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [RELATIONSHIP_31_FK]    Script Date: 12/10/2019 10:27:39 ******/
CREATE NONCLUSTERED INDEX [RELATIONSHIP_31_FK] ON [dbo].[BOOKING]
(
	[ID_RECEIPT_SERVICE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [RELATIONSHIP_32_FK]    Script Date: 12/10/2019 10:27:39 ******/
CREATE NONCLUSTERED INDEX [RELATIONSHIP_32_FK] ON [dbo].[BOOKING]
(
	[ID_USER_CUS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [RELATIONSHIP_34_FK]    Script Date: 12/10/2019 10:27:39 ******/
CREATE NONCLUSTERED INDEX [RELATIONSHIP_34_FK] ON [dbo].[CHAIR]
(
	[ID_FLOOR] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [RELATIONSHIP_25_FK]    Script Date: 12/10/2019 10:27:39 ******/
CREATE NONCLUSTERED INDEX [RELATIONSHIP_25_FK] ON [dbo].[DETAIL_INGEDIENT]
(
	[ID_INGREDIENT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [RELATIONSHIP_26_FK]    Script Date: 12/10/2019 10:27:39 ******/
CREATE NONCLUSTERED INDEX [RELATIONSHIP_26_FK] ON [dbo].[DETAIL_INGEDIENT]
(
	[ID_ITEM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [RELATIONSHIP_16_FK]    Script Date: 12/10/2019 10:27:39 ******/
CREATE NONCLUSTERED INDEX [RELATIONSHIP_16_FK] ON [dbo].[DETAIL_RECEIPT]
(
	[ID_RECEIPT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [RELATIONSHIP_17_FK]    Script Date: 12/10/2019 10:27:39 ******/
CREATE NONCLUSTERED INDEX [RELATIONSHIP_17_FK] ON [dbo].[DETAIL_RECEIPT]
(
	[ID_ITEM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [RELATIONSHIP_12_FK]    Script Date: 12/10/2019 10:27:39 ******/
CREATE NONCLUSTERED INDEX [RELATIONSHIP_12_FK] ON [dbo].[DETAIL_RECEIPT_IMPORT]
(
	[ID_ITEM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [RELATIONSHIP_13_FK]    Script Date: 12/10/2019 10:27:39 ******/
CREATE NONCLUSTERED INDEX [RELATIONSHIP_13_FK] ON [dbo].[DETAIL_RECEIPT_IMPORT]
(
	[ID_RECEPT_IMPORT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [RELATIONSHIP_22_FK]    Script Date: 12/10/2019 10:27:39 ******/
CREATE NONCLUSTERED INDEX [RELATIONSHIP_22_FK] ON [dbo].[DETAIL_RECEIPT_SERVICE]
(
	[ID_RECEIPT_SERVICE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [RELATIONSHIP_23_FK]    Script Date: 12/10/2019 10:27:39 ******/
CREATE NONCLUSTERED INDEX [RELATIONSHIP_23_FK] ON [dbo].[DETAIL_RECEIPT_SERVICE]
(
	[ID_SERVICE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [RELATIONSHIP_27_FK]    Script Date: 12/10/2019 10:27:39 ******/
CREATE NONCLUSTERED INDEX [RELATIONSHIP_27_FK] ON [dbo].[DETAIL_RECEIPT_SERVICE]
(
	[ID_USER] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [RELATIONSHIP_33_FK]    Script Date: 12/10/2019 10:27:39 ******/
CREATE NONCLUSTERED INDEX [RELATIONSHIP_33_FK] ON [dbo].[FLOOR]
(
	[ID_BRANCH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [GRANT_RIGHT_FK]    Script Date: 12/10/2019 10:27:39 ******/
CREATE NONCLUSTERED INDEX [GRANT_RIGHT_FK] ON [dbo].[GRANT_RIGHT]
(
	[ID_GROUP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [GRANT_RIGHT2_FK]    Script Date: 12/10/2019 10:27:39 ******/
CREATE NONCLUSTERED INDEX [GRANT_RIGHT2_FK] ON [dbo].[GRANT_RIGHT]
(
	[ID_SCREEN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [RELATIONSHIP_6_FK]    Script Date: 12/10/2019 10:27:39 ******/
CREATE NONCLUSTERED INDEX [RELATIONSHIP_6_FK] ON [dbo].[ITEM]
(
	[ID_PRICE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [RELATIONSHIP_7_FK]    Script Date: 12/10/2019 10:27:39 ******/
CREATE NONCLUSTERED INDEX [RELATIONSHIP_7_FK] ON [dbo].[ITEM]
(
	[ID_TYPE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [RELATIONSHIP_8_FK]    Script Date: 12/10/2019 10:27:39 ******/
CREATE NONCLUSTERED INDEX [RELATIONSHIP_8_FK] ON [dbo].[ITEM]
(
	[ID_PRODUCER] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [RELATIONSHIP_39_FK]    Script Date: 12/10/2019 10:27:39 ******/
CREATE NONCLUSTERED INDEX [RELATIONSHIP_39_FK] ON [dbo].[PROFILE]
(
	[ID_USER] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [RELATIONSHIP_36_FK]    Script Date: 12/10/2019 10:27:39 ******/
CREATE NONCLUSTERED INDEX [RELATIONSHIP_36_FK] ON [dbo].[PROFILE_CUSTOMER]
(
	[ID_TYPE_CUS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [RELATIONSHIP_37_FK]    Script Date: 12/10/2019 10:27:39 ******/
CREATE NONCLUSTERED INDEX [RELATIONSHIP_37_FK] ON [dbo].[PROFILE_CUSTOMER]
(
	[ID_PROFILE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [RELATIONSHIP_38_FK]    Script Date: 12/10/2019 10:27:39 ******/
CREATE NONCLUSTERED INDEX [RELATIONSHIP_38_FK] ON [dbo].[PROFILE_STAFF]
(
	[ID_PROFILE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [RELATIONSHIP_14_FK]    Script Date: 12/10/2019 10:27:39 ******/
CREATE NONCLUSTERED INDEX [RELATIONSHIP_14_FK] ON [dbo].[RECEIPT]
(
	[ID_USER_CUS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [RELATIONSHIP_15_FK]    Script Date: 12/10/2019 10:27:39 ******/
CREATE NONCLUSTERED INDEX [RELATIONSHIP_15_FK] ON [dbo].[RECEIPT]
(
	[ID_USER] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [RELATIONSHIP_10_FK]    Script Date: 12/10/2019 10:27:39 ******/
CREATE NONCLUSTERED INDEX [RELATIONSHIP_10_FK] ON [dbo].[RECEIPT_IMPORT]
(
	[ID_SUPPIER] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [RELATIONSHIP_11_FK]    Script Date: 12/10/2019 10:27:39 ******/
CREATE NONCLUSTERED INDEX [RELATIONSHIP_11_FK] ON [dbo].[RECEIPT_IMPORT]
(
	[ID_USER] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [RELATIONSHIP_19_FK]    Script Date: 12/10/2019 10:27:39 ******/
CREATE NONCLUSTERED INDEX [RELATIONSHIP_19_FK] ON [dbo].[RECEIPT_SERVICE]
(
	[ID_USER_CUS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [RELATIONSHIP_20_FK]    Script Date: 12/10/2019 10:27:39 ******/
CREATE NONCLUSTERED INDEX [RELATIONSHIP_20_FK] ON [dbo].[RECEIPT_SERVICE]
(
	[ID_USER] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [RELATIONSHIP_35_FK]    Script Date: 12/10/2019 10:27:39 ******/
CREATE NONCLUSTERED INDEX [RELATIONSHIP_35_FK] ON [dbo].[RECEIPT_SERVICE]
(
	[ID_CHAIR] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [RELATIONSHIP_18_FK]    Script Date: 12/10/2019 10:27:39 ******/
CREATE NONCLUSTERED INDEX [RELATIONSHIP_18_FK] ON [dbo].[SERVICE]
(
	[ID_PRICE_SERVICE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [RELATIONSHIP_24_FK]    Script Date: 12/10/2019 10:27:39 ******/
CREATE NONCLUSTERED INDEX [RELATIONSHIP_24_FK] ON [dbo].[SERVICE]
(
	[ID_INGREDIENT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [RELATIONSHIP_5_FK]    Script Date: 12/10/2019 10:27:39 ******/
CREATE NONCLUSTERED INDEX [RELATIONSHIP_5_FK] ON [dbo].[TIMEKEEPING]
(
	[ID_USER] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [USER_GROUP_USER_FK]    Script Date: 12/10/2019 10:27:39 ******/
CREATE NONCLUSTERED INDEX [USER_GROUP_USER_FK] ON [dbo].[USER_GROUP_USER]
(
	[ID_USER] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [USER_GROUP_USER2_FK]    Script Date: 12/10/2019 10:27:39 ******/
CREATE NONCLUSTERED INDEX [USER_GROUP_USER2_FK] ON [dbo].[USER_GROUP_USER]
(
	[ID_GROUP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[BOOKING]  WITH CHECK ADD  CONSTRAINT [FK_BOOKING_12_ACCOUNT] FOREIGN KEY([ID_USER])
REFERENCES [dbo].[ACCOUNT] ([ID_USER])
GO
ALTER TABLE [dbo].[BOOKING] CHECK CONSTRAINT [FK_BOOKING_12_ACCOUNT]
GO
ALTER TABLE [dbo].[BOOKING]  WITH CHECK ADD  CONSTRAINT [FK_BOOKING_13_ACCOUNT] FOREIGN KEY([ID_USER_CUS])
REFERENCES [dbo].[ACCOUNT] ([ID_USER])
GO
ALTER TABLE [dbo].[BOOKING] CHECK CONSTRAINT [FK_BOOKING_13_ACCOUNT]
GO
ALTER TABLE [dbo].[BOOKING]  WITH CHECK ADD  CONSTRAINT [FK_BOOKING_RELATIONS_RECEIPT_] FOREIGN KEY([ID_RECEIPT_SERVICE])
REFERENCES [dbo].[RECEIPT_SERVICE] ([ID_RECEIPT_SERVICE])
GO
ALTER TABLE [dbo].[BOOKING] CHECK CONSTRAINT [FK_BOOKING_RELATIONS_RECEIPT_]
GO
ALTER TABLE [dbo].[BOOKING]  WITH CHECK ADD  CONSTRAINT [FK_BOOKING_RELATIONS_TIME_WOR] FOREIGN KEY([ID_TIME_WORKER])
REFERENCES [dbo].[TIME_WORKER] ([ID_TIME_WORKER])
GO
ALTER TABLE [dbo].[BOOKING] CHECK CONSTRAINT [FK_BOOKING_RELATIONS_TIME_WOR]
GO
ALTER TABLE [dbo].[CHAIR]  WITH CHECK ADD  CONSTRAINT [FK_CHAIR_RELATIONS_FLOOR] FOREIGN KEY([ID_FLOOR])
REFERENCES [dbo].[FLOOR] ([ID_FLOOR])
GO
ALTER TABLE [dbo].[CHAIR] CHECK CONSTRAINT [FK_CHAIR_RELATIONS_FLOOR]
GO
ALTER TABLE [dbo].[DETAIL_INGEDIENT]  WITH CHECK ADD  CONSTRAINT [FK_DETAIL_I_RELATIONS_INGREDIE] FOREIGN KEY([ID_INGREDIENT])
REFERENCES [dbo].[INGREDIENT] ([ID_INGREDIENT])
GO
ALTER TABLE [dbo].[DETAIL_INGEDIENT] CHECK CONSTRAINT [FK_DETAIL_I_RELATIONS_INGREDIE]
GO
ALTER TABLE [dbo].[DETAIL_INGEDIENT]  WITH CHECK ADD  CONSTRAINT [FK_DETAIL_I_RELATIONS_ITEM] FOREIGN KEY([ID_ITEM])
REFERENCES [dbo].[ITEM] ([ID_ITEM])
GO
ALTER TABLE [dbo].[DETAIL_INGEDIENT] CHECK CONSTRAINT [FK_DETAIL_I_RELATIONS_ITEM]
GO
ALTER TABLE [dbo].[DETAIL_RECEIPT]  WITH CHECK ADD  CONSTRAINT [FK_DETAIL_R_8_ITEM] FOREIGN KEY([ID_ITEM])
REFERENCES [dbo].[ITEM] ([ID_ITEM])
GO
ALTER TABLE [dbo].[DETAIL_RECEIPT] CHECK CONSTRAINT [FK_DETAIL_R_8_ITEM]
GO
ALTER TABLE [dbo].[DETAIL_RECEIPT]  WITH CHECK ADD  CONSTRAINT [FK_DETAIL_R_RELATIONS_RECEIPT] FOREIGN KEY([ID_RECEIPT])
REFERENCES [dbo].[RECEIPT] ([ID_RECEIPT])
GO
ALTER TABLE [dbo].[DETAIL_RECEIPT] CHECK CONSTRAINT [FK_DETAIL_R_RELATIONS_RECEIPT]
GO
ALTER TABLE [dbo].[DETAIL_RECEIPT_IMPORT]  WITH CHECK ADD  CONSTRAINT [FK_DETAIL_R_4_ITEM] FOREIGN KEY([ID_ITEM])
REFERENCES [dbo].[ITEM] ([ID_ITEM])
GO
ALTER TABLE [dbo].[DETAIL_RECEIPT_IMPORT] CHECK CONSTRAINT [FK_DETAIL_R_4_ITEM]
GO
ALTER TABLE [dbo].[DETAIL_RECEIPT_IMPORT]  WITH CHECK ADD  CONSTRAINT [FK_DETAIL_R_5_RECEIPT_] FOREIGN KEY([ID_RECEPT_IMPORT])
REFERENCES [dbo].[RECEIPT_IMPORT] ([ID_RECEPT_IMPORT])
GO
ALTER TABLE [dbo].[DETAIL_RECEIPT_IMPORT] CHECK CONSTRAINT [FK_DETAIL_R_5_RECEIPT_]
GO
ALTER TABLE [dbo].[DETAIL_RECEIPT_SERVICE]  WITH CHECK ADD  CONSTRAINT [FK_DETAIL_R_11_RECEIPT_] FOREIGN KEY([ID_RECEIPT_SERVICE])
REFERENCES [dbo].[RECEIPT_SERVICE] ([ID_RECEIPT_SERVICE])
GO
ALTER TABLE [dbo].[DETAIL_RECEIPT_SERVICE] CHECK CONSTRAINT [FK_DETAIL_R_11_RECEIPT_]
GO
ALTER TABLE [dbo].[DETAIL_RECEIPT_SERVICE]  WITH CHECK ADD  CONSTRAINT [FK_DETAIL_R_RELATIONS_ACCOUNT] FOREIGN KEY([ID_USER])
REFERENCES [dbo].[ACCOUNT] ([ID_USER])
GO
ALTER TABLE [dbo].[DETAIL_RECEIPT_SERVICE] CHECK CONSTRAINT [FK_DETAIL_R_RELATIONS_ACCOUNT]
GO
ALTER TABLE [dbo].[DETAIL_RECEIPT_SERVICE]  WITH CHECK ADD  CONSTRAINT [FK_DETAIL_R_RELATIONS_SERVICE] FOREIGN KEY([ID_SERVICE])
REFERENCES [dbo].[SERVICE] ([ID_SERVICE])
GO
ALTER TABLE [dbo].[DETAIL_RECEIPT_SERVICE] CHECK CONSTRAINT [FK_DETAIL_R_RELATIONS_SERVICE]
GO
ALTER TABLE [dbo].[FLOOR]  WITH CHECK ADD  CONSTRAINT [FK_FLOOR_RELATIONS_BRANCH] FOREIGN KEY([ID_BRANCH])
REFERENCES [dbo].[BRANCH] ([ID_BRANCH])
GO
ALTER TABLE [dbo].[FLOOR] CHECK CONSTRAINT [FK_FLOOR_RELATIONS_BRANCH]
GO
ALTER TABLE [dbo].[GRANT_RIGHT]  WITH CHECK ADD  CONSTRAINT [FK_GRANT_RI_GRANT_RIG_GROUP_US] FOREIGN KEY([ID_GROUP])
REFERENCES [dbo].[GROUP_USER] ([ID_GROUP])
GO
ALTER TABLE [dbo].[GRANT_RIGHT] CHECK CONSTRAINT [FK_GRANT_RI_GRANT_RIG_GROUP_US]
GO
ALTER TABLE [dbo].[GRANT_RIGHT]  WITH CHECK ADD  CONSTRAINT [FK_GRANT_RI_GRANT_RIG_SCREEN] FOREIGN KEY([ID_SCREEN])
REFERENCES [dbo].[SCREEN] ([ID_SCREEN])
GO
ALTER TABLE [dbo].[GRANT_RIGHT] CHECK CONSTRAINT [FK_GRANT_RI_GRANT_RIG_SCREEN]
GO
ALTER TABLE [dbo].[ITEM]  WITH CHECK ADD  CONSTRAINT [FK_ITEM_RELATIONS_PRICE] FOREIGN KEY([ID_PRICE])
REFERENCES [dbo].[PRICE] ([ID_PRICE])
GO
ALTER TABLE [dbo].[ITEM] CHECK CONSTRAINT [FK_ITEM_RELATIONS_PRICE]
GO
ALTER TABLE [dbo].[ITEM]  WITH CHECK ADD  CONSTRAINT [FK_ITEM_RELATIONS_PRODUCER] FOREIGN KEY([ID_PRODUCER])
REFERENCES [dbo].[PRODUCER] ([ID_PRODUCER])
GO
ALTER TABLE [dbo].[ITEM] CHECK CONSTRAINT [FK_ITEM_RELATIONS_PRODUCER]
GO
ALTER TABLE [dbo].[ITEM]  WITH CHECK ADD  CONSTRAINT [FK_ITEM_RELATIONS_TYPE_ITE] FOREIGN KEY([ID_TYPE])
REFERENCES [dbo].[TYPE_ITEM] ([ID_TYPE])
GO
ALTER TABLE [dbo].[ITEM] CHECK CONSTRAINT [FK_ITEM_RELATIONS_TYPE_ITE]
GO
ALTER TABLE [dbo].[PROFILE]  WITH CHECK ADD  CONSTRAINT [FK_PROFILE_RELATIONS_ACCOUNT] FOREIGN KEY([ID_USER])
REFERENCES [dbo].[ACCOUNT] ([ID_USER])
GO
ALTER TABLE [dbo].[PROFILE] CHECK CONSTRAINT [FK_PROFILE_RELATIONS_ACCOUNT]
GO
ALTER TABLE [dbo].[PROFILE_CUSTOMER]  WITH CHECK ADD  CONSTRAINT [FK_PROFILE__2_PROFILE] FOREIGN KEY([ID_PROFILE])
REFERENCES [dbo].[PROFILE] ([ID_PROFILE])
GO
ALTER TABLE [dbo].[PROFILE_CUSTOMER] CHECK CONSTRAINT [FK_PROFILE__2_PROFILE]
GO
ALTER TABLE [dbo].[PROFILE_CUSTOMER]  WITH CHECK ADD  CONSTRAINT [FK_PROFILE__RELATIONS_TYPE_CUS] FOREIGN KEY([ID_TYPE_CUS])
REFERENCES [dbo].[TYPE_CUSTOMER] ([ID_TYPE_CUS])
GO
ALTER TABLE [dbo].[PROFILE_CUSTOMER] CHECK CONSTRAINT [FK_PROFILE__RELATIONS_TYPE_CUS]
GO
ALTER TABLE [dbo].[PROFILE_STAFF]  WITH CHECK ADD  CONSTRAINT [FK_PROFILE__1_PROFILE] FOREIGN KEY([ID_PROFILE])
REFERENCES [dbo].[PROFILE] ([ID_PROFILE])
GO
ALTER TABLE [dbo].[PROFILE_STAFF] CHECK CONSTRAINT [FK_PROFILE__1_PROFILE]
GO
ALTER TABLE [dbo].[RECEIPT]  WITH CHECK ADD  CONSTRAINT [FK_RECEIPT_6_ACCOUNT] FOREIGN KEY([ID_USER_CUS])
REFERENCES [dbo].[ACCOUNT] ([ID_USER])
GO
ALTER TABLE [dbo].[RECEIPT] CHECK CONSTRAINT [FK_RECEIPT_6_ACCOUNT]
GO
ALTER TABLE [dbo].[RECEIPT]  WITH CHECK ADD  CONSTRAINT [FK_RECEIPT_7_ACCOUNT] FOREIGN KEY([ID_USER])
REFERENCES [dbo].[ACCOUNT] ([ID_USER])
GO
ALTER TABLE [dbo].[RECEIPT] CHECK CONSTRAINT [FK_RECEIPT_7_ACCOUNT]
GO
ALTER TABLE [dbo].[RECEIPT_IMPORT]  WITH CHECK ADD  CONSTRAINT [FK_RECEIPT__3_ACCOUNT] FOREIGN KEY([ID_USER])
REFERENCES [dbo].[ACCOUNT] ([ID_USER])
GO
ALTER TABLE [dbo].[RECEIPT_IMPORT] CHECK CONSTRAINT [FK_RECEIPT__3_ACCOUNT]
GO
ALTER TABLE [dbo].[RECEIPT_IMPORT]  WITH CHECK ADD  CONSTRAINT [FK_RECEIPT__RELATIONS_SUPPLIER] FOREIGN KEY([ID_SUPPIER])
REFERENCES [dbo].[SUPPLIER] ([ID_SUPPIER])
GO
ALTER TABLE [dbo].[RECEIPT_IMPORT] CHECK CONSTRAINT [FK_RECEIPT__RELATIONS_SUPPLIER]
GO
ALTER TABLE [dbo].[RECEIPT_SERVICE]  WITH CHECK ADD  CONSTRAINT [FK_RECEIPT__10_ACCOUNT] FOREIGN KEY([ID_USER])
REFERENCES [dbo].[ACCOUNT] ([ID_USER])
GO
ALTER TABLE [dbo].[RECEIPT_SERVICE] CHECK CONSTRAINT [FK_RECEIPT__10_ACCOUNT]
GO
ALTER TABLE [dbo].[RECEIPT_SERVICE]  WITH CHECK ADD  CONSTRAINT [FK_RECEIPT__9_ACCOUNT] FOREIGN KEY([ID_USER_CUS])
REFERENCES [dbo].[ACCOUNT] ([ID_USER])
GO
ALTER TABLE [dbo].[RECEIPT_SERVICE] CHECK CONSTRAINT [FK_RECEIPT__9_ACCOUNT]
GO
ALTER TABLE [dbo].[RECEIPT_SERVICE]  WITH CHECK ADD  CONSTRAINT [FK_RECEIPT__RELATIONS_CHAIR] FOREIGN KEY([ID_CHAIR])
REFERENCES [dbo].[CHAIR] ([ID_CHAIR])
GO
ALTER TABLE [dbo].[RECEIPT_SERVICE] CHECK CONSTRAINT [FK_RECEIPT__RELATIONS_CHAIR]
GO
ALTER TABLE [dbo].[SERVICE]  WITH CHECK ADD  CONSTRAINT [FK_SERVICE_RELATIONS_INGREDIE] FOREIGN KEY([ID_INGREDIENT])
REFERENCES [dbo].[INGREDIENT] ([ID_INGREDIENT])
GO
ALTER TABLE [dbo].[SERVICE] CHECK CONSTRAINT [FK_SERVICE_RELATIONS_INGREDIE]
GO
ALTER TABLE [dbo].[SERVICE]  WITH CHECK ADD  CONSTRAINT [FK_SERVICE_RELATIONS_PRICE_SE] FOREIGN KEY([ID_PRICE_SERVICE])
REFERENCES [dbo].[PRICE_SERVICE] ([ID_PRICE_SERVICE])
GO
ALTER TABLE [dbo].[SERVICE] CHECK CONSTRAINT [FK_SERVICE_RELATIONS_PRICE_SE]
GO
ALTER TABLE [dbo].[TIMEKEEPING]  WITH CHECK ADD  CONSTRAINT [FK_TIMEKEEP_RELATIONS_ACCOUNT] FOREIGN KEY([ID_USER])
REFERENCES [dbo].[ACCOUNT] ([ID_USER])
GO
ALTER TABLE [dbo].[TIMEKEEPING] CHECK CONSTRAINT [FK_TIMEKEEP_RELATIONS_ACCOUNT]
GO
ALTER TABLE [dbo].[USER_GROUP_USER]  WITH CHECK ADD  CONSTRAINT [FK_USER_GRO_USER_GROU_ACCOUNT] FOREIGN KEY([ID_USER])
REFERENCES [dbo].[ACCOUNT] ([ID_USER])
GO
ALTER TABLE [dbo].[USER_GROUP_USER] CHECK CONSTRAINT [FK_USER_GRO_USER_GROU_ACCOUNT]
GO
ALTER TABLE [dbo].[USER_GROUP_USER]  WITH CHECK ADD  CONSTRAINT [FK_USER_GRO_USER_GROU_GROUP_US] FOREIGN KEY([ID_GROUP])
REFERENCES [dbo].[GROUP_USER] ([ID_GROUP])
GO
ALTER TABLE [dbo].[USER_GROUP_USER] CHECK CONSTRAINT [FK_USER_GRO_USER_GROU_GROUP_US]
GO
USE [master]
GO
