<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="SpaManagementSoftware.Properties.Settings.DB_SPAConnectionString" connectionString="Data Source=HOANGPHUC-PC\SQLEXPRESS;Initial Catalog=DB_SPA;User ID=sa;Password=sa2012" providerName="System.Data.SqlClient"/>
    <add name="DbSpaDataContextConnectionString" connectionString="User Id=root;Password=123;Host=127.0.0.1;Port=3306;Database=db_spa;Persist Security Info=True;Character Set=utf8"/>
  </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/></startup></configuration>
