<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="SpaClassLibrary.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="SpaClassLibrary.Properties.Settings.DB_SPAConnect"
      connectionString="Data Source=HOANGPHUC-PC\SQLEXPRESS;Initial Catalog=DB_SPA;User ID=sa;Password=sa2012"
      providerName="System.Data.SqlClient" />
    <add name="SpaClassLibrary.Properties.Settings.DB_SPAConnectionString"
      connectionString="Data Source=HOANGPHUC-PC\SQLEXPRESS;Initial Catalog=DB_SPA;User ID=sa;Password=sa2012"
      providerName="System.Data.SqlClient" />
    <add name="DbSpaDataContextConnectionString" connectionString="User Id=root;Password=123;Host=127.0.0.1;Database=db_spa;Persist Security Info=True;Character Set=UTF8" />
    <add name="SpaClassLibrary.Properties.Settings.DbSpaDataContextConnectionString"
      connectionString="User Id=root;Host=127.0.0.1;Database=db_spa;Persist Security Info=True;Character Set=utf8" />
  </connectionStrings>
  <userSettings>
    <SpaClassLibrary.Properties.Settings>
      <setting name="RemeberPass" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="UserName" serializeAs="String">
        <value />
      </setting>
      <setting name="PassWord" serializeAs="String">
        <value />
      </setting>
      <setting name="Connect" serializeAs="String">
        <value />
      </setting>
    </SpaClassLibrary.Properties.Settings>
  </userSettings>
</configuration>